<div class="window">
  <header>
    <h2>Tasks</h2>
  </header>
  <h3>Available</h3>
  <%= render :partial => 'bumbleworks/rails/tasks/table',
      :locals => { :tasks => @available_tasks } %>
  <h3>Claimed</h3>
  <%= render :partial => 'bumbleworks/rails/tasks/table',
      :locals => { :tasks => @claimed_tasks } %>
</div>
